*{
    margin:0;
    padding:0;
}
.div1{
    position: absolute;
    left:40%;
    top:100px;
    height: 530px;
    width: 410px;
    background: rgb(207, 204, 204);
}
#input1{
    height: 50px;
    width: 370px;
    text-align: right;
    font-size: 32px;
    border:none;
    padding:20px;
    background: inherit;
}
#input2{
    height: 30px;
    width: 370px;
    text-align: right;
    font-size: 20px;
    border:none;
    background: inherit;
}
.table1 td{
    width: 80px;
    height: 80px;
    border:2px solid rgb(207, 204, 204);
    border-collapse: collapse;
    background: rgb(231, 228, 228);
    text-align: center;
}

.table1{
    border-collapse: collapse;
}
.table1 button{
    width: 80px;
    height: 80px;  
    background: rgb(231, 228, 228);
    border:none; 
    font-size: 24px;
}
#number0{
    background: white;
    font-size: 30px;
    font-weight: 500;
}
#number1{
    background: white;
    font-size: 30px;
    font-weight: 500;
}
#number2{
    background: white;
    font-size: 30px;
    font-weight: 500;
}
#number3{
    background: white;
    font-size: 30px;
    font-weight: 500;
}
#number4{
    background: white;
    font-size: 30px;
    font-weight: 500;
}
#number5{
    background: white;
    font-size: 30px;
    font-weight: 500;
}
#number6{
    background: white;
    font-size: 30px;
    font-weight: 500;
}
#number7{
    background: white;
    font-size: 30px;
    font-weight: 500;
}
#number8{
    background: white;
    font-size: 30px;
    font-weight: 500;
}
#number9{
    background: white;
    font-size: 30px;
    font-weight: 500;
}
#number1:hover{
    background: rgb(187, 185, 185);
}
#number2:hover{
    background: rgb(187, 185, 185);
}
#number3:hover{
    background: rgb(187, 185, 185);
}
#number4:hover{
    background: rgb(187, 185, 185);
}
#number5:hover{
    background: rgb(187, 185, 185);
}
#number6:hover{
    background: rgb(187, 185, 185);
}
#number7:hover{
    background: rgb(187, 185, 185);
}
#number8:hover{
    background: rgb(187, 185, 185);
}
#number9:hover{
    background: rgb(187, 185, 185);
}
#number0:hover{
    background: rgb(187, 185, 185);
}
button:hover{
    background: rgb(187, 185, 185);
}